<div class="container">
    <div class="column">
        <h2>Crear Heroe</h2>

        <form (ngSubmit)="crearHeroe()">
        <div class="input-container">
            <label>Nom:</label>
            <input type="text" [(ngModel)]="nom" name="nom" required minlength="3" maxlength="20" pattern="[A-Z][a-z ]*">
        </div>
        <div class="input-container">
            <label>Descripció:</label>
            <textarea [(ngModel)]="descripcio" name="descripcio" maxlength="200"></textarea>
        </div><br>
        <div>
            <label>Habilitats:</label>
            <li *ngFor="let habilitat of habilitats">
                <input type="checkbox" [checked]="estaSeleccionada(habilitat)" [disabled]="noCompatible(habilitat)" (change)="seleccionarHabilitat(habilitat)">
                {{ habilitat.nom }} ({{ habilitat.compatibles.length }})
            </li>
            <br>
            <button type="submit">Crear Heroi</button>
            
            <div *ngIf="missatgeError" class="error-message">
                {{ missatgeError }}
            </div>
        </div>
        </form>
    </div>
    <div class="column">
        <div>
          <h3>Llistat d'herois</h3>
          <ul>
            <li *ngFor="let heroi of herois">
              <strong>{{ heroi.nom }}</strong><br>
              Descripció: {{ heroi.descripcio }}<br>
              Habilitats: {{ heroi.habilitat }}
            </li>
          </ul>
        </div>
    </div>
</div>

